@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Em construção...</h1>
    <p>Aqui ficará um carousel com template fixo e um com template variavel.</p>
</div>
